@import './variable.scss';

.header-main.sticky-header {
    position: fixed;
    width: 100%;
    top: -70px;
    left: 0;
    right: 0;
    z-index: 999;
    transform: translateY(70px);
    transition: transform 500ms ease, background 500ms ease;
    -webkit-transition: transform 500ms ease, background 500ms ease;
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
    background: $black-color;
}
.footer-main {
    box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.1);
    background: $black-color;
    .none-1140 {
        @media (max-width: 1140px) {
            display: none !important;
        }
    }
    .contact-btn {
        .MuiListItem-root {
            border: 2px solid;
            border-radius: 15px 0;
            padding: 12px 34px;
            a {
                color: $color-white;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
    }
    .container-fluid {
        max-width: 1400px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        .header-container {
            display: flex;
            align-items: center;
            // justify-content: space-evenly;
            width: 100%;
            padding: 12px 0;
            .site-logo {
                height: 60px;
                width: 70px;
                // margin-right: 40px;
                img {
                    height: 100%;
                    width: 100%;
                }
            }
            .site-menu {
                .MuiList-root {
                    display: flex;
                    padding: 0;
                    @media (max-width: 900px) {
                        display: block;
                    }
                    .MuiListItem-root {
                        padding: 25px 25px 10px;
                        // &:hover {
                        //     .MuiLink-root {
                        //         color:$color-blue;
                        //     }
                        // }
                        // &:last-child {
                        //     padding-right: 0;
                        // }
                        .MuiLink-root {
                            color: $color-white;
                            text-decoration: none;
                            font-size: 16px;
                            text-transform: uppercase;
                            @media (max-width: 900px) {
                                width: 100%;
                                text-align: center;
                            }
                            &:after {
                                background: none repeat scroll 0 0 transparent;
                                bottom: 0;
                                content: "";
                                display: block;
                                height: 2px;
                                left: 50%;
                                position: absolute;
                                background: #fff;
                                transition: width 0.3s ease 0s, left 0.3s ease 0s;
                                width: 0;
                            }
                            &:hover {
                                &:after { 
                                    width: 100%; 
                                    left: 0; 
                                }
                            } 
                        }
                    }
                }
            }
        }
    }
}
.toggle-button {
    // position: absolute !important;
    z-index: 1;
    right: 0;
    display: none !important;
    @media (max-width: 900px) {
        display: block !important;
    }
    svg {
        font-size: 30px;
        path {
            color: $color-white;
        }
    }
}
.d-none {
    display: none !important;
}
.d-block {
    display: flex !important;
}
.justify-center {
    @media (max-width: 900px) {
       justify-content: center;
    }
}
.header-main {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 11;
    background: transparent;
    .contact-btn {
        .MuiListItem-root {
            border: 2px solid;
            border-radius: 15px 0;
            padding: 12px 34px;
            a {
                color: $color-white;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
    }
    .container-fluid {
        max-width: 1140px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        @media (max-width: 1140px) {
            max-width: 80%;
        }
        .header-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            // justify-content: space-evenly;
            width: 100%;
            padding: 12px 0;
            .site-logo {
                height: 60px;
                width: 70px;
                margin-right: 40px;
                img {
                    height: 100%;
                    width: 100%;
                }
            }
            .site-menu {
                @media (max-width: 900px) {
                    position: absolute;
                    left: 0;
                    right: 0;
                    display: none;
                    align-items: center;
                    justify-content: center;
                    top: 0;
                    text-align: center;
                    background: $black-color;
                    padding: 10px;
                }
                .MuiList-root {
                    display: flex;
                    padding: 0;
                    @media (max-width: 900px) {
                        display: block;
                    }
                    .MuiListItem-root {
                        // padding: 25px;
                        // &:hover {
                        //     .MuiLink-root {
                        //         color:$color-blue;
                        //     }
                        // }
                        // &:last-child {
                        //     padding-right: 0;
                        // }
                        .MuiLink-root {
                            color: $color-white;
                            text-decoration: none;
                            font-size: 16px;
                            text-transform: uppercase;
                            font-weight: bold;
                            &:after {
                                background: none repeat scroll 0 0 transparent;
                                bottom: 0;
                                content: "";
                                display: block;
                                height: 2px;
                                left: 50%;
                                position: absolute;
                                background: #fff;
                                transition: width 0.3s ease 0s, left 0.3s ease 0s;
                                width: 0;
                            }
                            &:hover {
                                &:after { 
                                    width: 100%; 
                                    left: 0; 
                                }
                            } 
                        }
                    }
                }
            }
        }
    }
}
.color-black {
    color: #1F1F1F !important;
}
// .footer-main {
    .social-link {
        display: flex;
        justify-content: end;
        .hexagon {
            margin: 10px;
            border: 1px solid $color-white;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: transform 0.3s ease-in-out;
            svg {
                color: $color-white;
            }
            &:hover {
                transform: scale(1.2);
            }
        } 
    }
// }