@import './variable.scss';

.pools-main {
    .pool-banner {
        background: url('/assets/images/banner/subpage-banner.jpg') $black-color;
        height: 400px;
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
        justify-content: center;
        display: flex;
        h2 {
            color: $color-white;
            font-size: 90px;
            font-family: 'Mulish', sans-serif;
            font-weight: 800;
        }
    }
    .pool-facility {
        img {
            transition: transform 0.3s ease;
            cursor: pointer;
            &:hover {
                transform: scale(1.1); 
            }
        }
    }
}